/*estilos del login*/

/*se ajusta margen de la pagina y cambio de color */
body{
    margin: auto;
    background-color:antiquewhite;
}
/*ubicacion de campos de ingreso*/
.form-login{
    margin-top: 9%;
    margin-left: 43%;
    width: 250px;
    align-items: center;
    flex-direction: column;
}

.form-login button{
    display: block;
    margin: 20px auto 0 auto; /* margen superior y centrado horizontal */
}


/*ubicacion y tamañano del logo principal de inicio*/
.Dandadan{
    display: flex;
    height: 300px;
    margin: 0 auto;
    margin-left: -60px;
}

/*estilo de las palabras acompañadas de los imputs de ingreso*/
label{
    display: flex;
   font-family: cursive;
   color: black;
   flex-direction: column;
   align-items: center;
}

/*fin de estilos del login*/

/*estilos de la pagina principal*/

/*estilos del titulo de bienvenida*/
h1{
    text-align: center;
    font-size: 120px;
    margin: 150px 0 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation-duration: 4s;
    animation-name: slidein;
}

/*estilos para el parrafo de bienvenida*/
p{
   position: relative;
    font-size: 25px;
    margin-top: 120px;
    margin-left: 20px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    animation-duration: 4s;
    animation-name: slidein;
}

/*ubicacion de iconos de redes sociales */
.icons ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 55px;
    margin-top: 90px;
    animation-duration: 4s;
    animation-name: slidein;
}

/*ubicacion, separacion y tamaños de iconoces de redes sociales*/
.icons li{
    position: relative;
    width: 60px;
    height: 30px;
    margin-left: 20px;
}

/*ubicacion, tamaño, tipo de litera, para la palabra "siguieme en" acompañada de los iconos de redes sociales*/
h3{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    position: relative;
    top: 50px;
    animation-duration: 1s;
    animation-name: slidein;
}
/*se define el nombre de la animacion y la duracion que tendra*/
/* usando el @keyFrame se especifica la animacion que tendra */
@keyframes slidein{
    from{
        margin-left: 50%;
        width: 30%;
    }

    to{
        margin-left: 0%;
        width: 100%;
    }
}

/*separador de titulos de navegacion con inicio, memes, guardados de el icono principal "memes dixon"*/
.navbar-brand{
    display: flex;
    margin-right: 35%;
}

/* aumento de la barra de navegacion*/
a{
    display: flex;
    margin: 10px;
}

/* lineas posicionadas encima de cada navegacion inicio, memes, guardados*/
.nav-link{
    color: black;
    text-decoration:overline;
    transition: color 0.2s ease;
}

/*animacion para pasar por encima de las navegaciones y que cambien a color gris*/
.nav-link:hover{
    color: grey;
}

svg{
    color: black;
}

svg:hover{
    color: grey;
}

/*Fin de estilos de pagina principal*/

/*estilos de la pagina memes formulario*/
/*estilo para centrar formulario*/
.form-memes{
    display: flex;
    width: 350px;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
    margin-left: 8%;
    padding: 30px;
    border-radius: 7%;
    background-color: white;
    font-family:'Courier New', Courier, monospace;
}

/*estilo para centrar boton de formulario memes*/
.form-memes button{
    display: block;
    margin: 20px auto 0 auto; /* margen superior y centrado horizontal */
}

/*estilo para mejorar los imputs y textarea del formulario memes*/
.form-memes input, 
.form-memes textarea{
    font-family:'Courier New', Courier, monospace;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: inherit;
}

/*codigo para el fuente de las letras del formulario memes*/
.form-memes label{
    font-family:'Courier New', Courier, monospace;
}

/*codigo para de color boton cargar imagen cuando se pasa por encima de este*/
.form-memes input:hover{
    color: blueviolet;
}

/*fin de estilos de la pagina memes formulario*/
